@font-face {
  font-family: 'libricons';
  src:url('fonts/libricons.eot');
  src:url('fonts/libricons.eot?#iefix') format('embedded-opentype'),
    url('fonts/libricons.woff') format('woff'),
    url('fonts/libricons.ttf') format('truetype'),
    url('fonts/libricons.svg#libricons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.libricons {
  display: inline-block;
  font-family: 'libricons';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

.libricons.icon-house:before,
.libricons.icon-home:before {
  content: "\e000";
}
.libricons.icon-hamburger:before,
.libricons.icon-menu:before {
  content: "\e001";
}
.libricons.icon-hamburger-list:before,
.libricons.icon-menu-alt:before {
  content: "\e002";
}
.libricons.icon-star:before,
.libricons.icon-shortcut:before {
  content: "\e003";
}
.libricons.icon-star-empty:before,
.libricons.icon-shortcut-empty:before {
  content: "\e004";
}
.libricons.icon-person:before,
.libricons.icon-user:before {
  content: "\e005";
}
.libricons.icon-people:before,
.libricons.icon-users:before {
  content: "\e006";
}
.libricons.icon-pencil:before,
.libricons.icon-edit:before {
  content: "\e007";
}
.libricons.icon-check:before {
  content: "\e008";
}
.libricons.icon-warning:before {
  content: "\e009";
}
.libricons.icon-x-disc:before,
.libricons.icon-close-disc:before,
.libricons.icon-cancel-disc:before,
.libricons.icon-error:before {
  content: "\e00a";
}
.libricons.icon-x:before,
.libricons.icon-close:before,
.libricons.icon-cancel:before {
  content: "\e00b";
}
.libricons.icon-plus:before,
.libricons.icon-add:before,
.libricons.icon-new:before {
  content: "\e00c";
}
.libricons.icon-minus:before,
.libricons.icon-remove:before {
  content: "\e00d";
}
.libricons.icon-move:before,
.libricons.icon-drag:before {
  content: "\e00e";
}
.libricons.icon-move-h:before,
.libricons.icon-drag-h:before {
  content: "\e00f";
}
.libricons.icon-move-v:before,
.libricons.icon-drag-v:before {
  content: "\e010";
}
.libricons.icon-cog:before,
.libricons.icon-configure:before {
  content: "\e011";
}
.libricons.icon-link:before {
  content: "\e012";
}
.libricons.icon-capital-serif:before,
.libricons.icon-content:before {
  content: "\e013";
}
.libricons.icon-capital-sans:before,
.libricons.icon-content-alt:before {
  content: "\e014";
}
.libricons.icon-orgchart:before,
.libricons.icon-structure:before {
  content: "\e015";
}
.libricons.icon-paintbrush:before,
.libricons.icon-appearance:before {
  content: "\e016";
}
.libricons.icon-puzzlepiece:before,
.libricons.icon-module:before {
  content: "\e017";
}
.libricons.icon-wrench:before {
  content: "\e018";
}
.libricons.icon-barchart:before,
.libricons.icon-reports:before {
  content: "\e019";
}
.libricons.icon-piechart:before,
.libricons.icon-reports-alt:before {
  content: "\e01a";
}
.libricons.icon-questionmark-disc:before,
.libricons.icon-help:before {
  content: "\e01b";
}
.libricons.icon-push-up:before {
  content: "\e01c";
}
.libricons.icon-push-right:before {
  content: "\e01d";
}
.libricons.icon-push-down:before {
  content: "\e01e";
}
.libricons.icon-push-left:before {
  content: "\e01f";
}
.libricons.icon-loupe:before,
.libricons.icon-search:before {
  content: "\e020";
}
.libricons.icon-lock:before {
  content: "\e021";
}
.libricons.icon-lock-open:before {
  content: "\e022";
}
.libricons.icon-eye:before,
.libricons.icon-view:before {
  content: "\e023";
}
.libricons.icon-file:before {
  content: "\e024";
}
.libricons.icon-picture:before,
.libricons.icon-image:before {
  content: "\e025";
}
.libricons.icon-comment:before {
  content: "\e026";
}
.libricons.icon-comment-starred:before {
  content: "\e027";
}
.libricons.icon-comment-locked:before {
  content: "\e028";
}
.libricons.icon-comment-pinned:before {
  content: "\e029";
}
.libricons.icon-comments:before {
  content: "\e02a";
}
.libricons.icon-comments-starred:before {
  content: "\e02b";
}
.libricons.icon-pin:before {
  content: "\e02c";
}
.libricons.icon-twistie-up:before {
  content: "\e02d";
}
.libricons.icon-twistie-right:before {
  content: "\e02e";
}
.libricons.icon-twistie-down:before {
  content: "\e02f";
}
.libricons.icon-twistie-left:before {
  content: "\e030";
}
.libricons.icon-caret-up:before {
  content: "\e031";
}
.libricons.icon-caret-right:before {
  content: "\e032";
}
.libricons.icon-caret-down:before {
  content: "\e033";
}
.libricons.icon-caret-left:before {
  content: "\e034";
}
.libricons.icon-chevron-up:before,
.libricons.icon-nav-up:before {
  content: "\e035";
}
.libricons.icon-chevron-right:before,
.libricons.icon-nav-next:before {
  content: "\e036";
}
.libricons.icon-chevron-down:before,
.libricons.icon-nav-down:before {
  content: "\e037";
}
.libricons.icon-chevron-left:before,
.libricons.icon-nav-previous:before {
  content: "\e038";
}
.libricons.icon-chevron-double-right:before,
.libricons.icon-nav-last:before {
  content: "\e039";
}
.libricons.icon-chevron-double-left:before,
.libricons.icon-nav-first:before {
  content: "\e03a";
}
.libricons.icon-chevron-disc-up:before {
  content: "\e03b";
}
.libricons.icon-chevron-disc-right:before {
  content: "\e03c";
}
.libricons.icon-chevron-disc-down:before {
  content: "\e03d";
}
.libricons.icon-chevron-disc-left:before {
  content: "\e03e";
}
.libricons.icon-key:before,
.libricons.icon-permissions:before {
  content: "\e03f";
}
